.alpha-com-layer{
	background: rgba(0,0,0,0.7);
	border-radius: 10px;
	z-index: 999;
	color: #FFF;
	font-size: 14px;
	padding: 20px 0;
	text-align: center;
}

.alpha-com-layer img{
	margin-top: 10px;
}

.alpha-com-layer p{
	text-align: left;
	text-align: justify;
	margin: 20px 20px 0;
}

