.alpha-swiper{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.alpha-swiper .slide{
	/*padding-top: 1px;*/
	float: left;
	-webkit-transform: translateZ(0);
	position: relative;
}